langchain==0.3.26
langchain-chroma==0.2.4
chromadb>=1.0.9
sentence-transformers==2.6.1
torch==1.13.1
sentencepiece
protobuf==3.20.3
unstructured
accelerate
huggingface-hub>=0.30.2

transformers==4.41.1
tokenizers==0.19.1
langchain-huggingface==0.3.0
langchain_community

redis

numpy==1.26.4
fastapi
uvicorn
