langchain==0.3.26
langchain-chroma==0.2.4
chromadb>=1.0.9
sentence-transformers==2.6.1
torch==1.13.1
transformers==4.39.3
sentencepiece
protobuf==3.20.3
unstructured
accelerate
huggingface_hub==0.20.3
huggingface-hub>=0.30.2
tokenizers>=0.19.1
